body {
  background: rgba(186, 190, 255, 0.37);
}

.margin-navbar {
  margin-top: 84px;
}
.margin-only-navbar {
  margin-top: 64px;
}

.tar {
  text-align: right;
}

.tac {
  text-align: center;
}

.tal {
  text-align-last: left;
}

.fwb {
  font-weight: bold;
}

.p10 {
  padding: 10px;
}

.p20 {
  padding: 20px;
}
