body {
  background: rgba(186, 190, 255, 0.37);
}

.margin-navbar {
  margin-top: 84px;
}
.margin-only-navbar {
  margin-top: 64px;
}

.link {
  cursor: pointer;
  color: #1890ff;
}

.tar {
  text-align: right;
}

.tac {
  text-align: center;
}

.tal {
  text-align-last: left;
}

.fwb {
  font-weight: bold;
}

.p10 {
  padding: 10px;
}

.p20 {
  padding: 20px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #868686ab;
}

.primary-color {
  color: #1890ff;
}

.price-color {
  color: rgb(255, 168, 1);
}
